{% extends 'layout.html' %}

{% block content %}


<div style="padding-top: 120px;" class="w-75 mx-auto">
    <h1 class="display-4 font-italic text-white">
        NELER YAPIYORUZ?  
    </h1>
    <hr class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 350px; background-color: #7c4dff; height: 2px"/>
    

        <!--kağıt uçak-->
        <div class="row mt-4">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%; padding-top: 5%; padding-left: 5%; padding-right: 5%;">
                            <h3 style="color: #7c4dff;">Kağıt Uçak Yarışması</h3>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 100px; background-color:#031d34 ; height: 2px"/>
                            <p style="padding-left: 5%; padding-right: 5%;">
                                Hacettepe Üniversitesi İnsansız Hava Araçları 
                                Topluluğu olarak, 2015 yılında kurulan topluluğumuzun 
                                geleneksel olarak düzenlediği 
                                Kağıt Uçak Yarışmasını bu yıl da Hacettepe Üniversitesi Beytepe 
                                kampüsünün en canlı noktalarından biri olan 
                                elektrik elektronik çimlerinde gerçekleştirmeyi hedeflemekteyiz.
                            </p>
                            <p style="padding-left: 5%; padding-right: 5%;">
                                Yarışma alanında yarışmacılarımızdan 
                                beklentimiz A4 kağıt ile herhangi bir 
                                yardımcı alet kullanmaksızın belirlenen süre 
                                içinde hazırladıkları uçakları hazırlanan pist 
                                üzerinde yine kendileri fırlatmalarıdır. 
                                Puanlama sistemi alınan mesafe üzerinden 
                                yapılacaktır. 
                            </p>
                        
                            <h4 >Etkinlik İçeriği</h4>
                            <ul>
                                <li> Etkinliğimiz 11.10.2022 Salı günü 
                                    Hacettepe Üniversitesi Beytepe Kampüsünde 
                                    gerçekleşecek olup 15.10.2022 Cuma günü 
                                    tarihine kadar devam edecektir.
                                </li>
                                <li>Etkinlik süresince sadece kağıt uçak 
                                    yarışması gerçekleştirilmeyip aynı zamanda 
                                    topluluk bünyesinde halihazırda üretilmiş 
                                    araçlarla gerçekleştirilecek gösteri uçuşları da 
                                    yapılacaktır
                                </li>
                                <li>Etkinliğin son gününde gösteri uçuşu 
                                    eşliğinde derece yapan yarışmacılarımıza 
                                    ödülleri takdim edilecek ve hatıra fotoğrafları 
                                    çekilecektir.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2">
                <hr class="mb-0 mt-3 d-none d-lg-block mx-auto"
                style="width: 25px;
                height: 25px;
                background: #7c4dff; 
                -moz-border-radius: 50%; 
                -webkit-border-radius: 50%; 
                border-radius: 50%;">
                <hr class=" mt-0 d-none d-lg-block  mx-auto"
                    style="width: 2px; background-color: #7c4dff; height: 100%"/>
                
            </div>
            <div class="col-lg-5">

                <div class="card mt-3" style="width:60%">
                    <img src="/static/image/events/kuy/kuy-4.jpeg" alt="" >
                </div>
                <div class="card float-right mt-2" style="width:90%">
                    <img src="/static/image/events/kuy/kuy-1.jpeg" alt="">
                </div>
                
            </div>
        </div>


        <!-- havadan sudan -->
        <div class="row mt-4">
            <div class="col-lg-5">
                
            </div>

            <div class="col-lg-2 ">
                <hr class="mb-0 mt-3 d-none d-lg-block mx-auto"
                style="width: 25px;
                height: 25px;
                background: #7c4dff; 
                -moz-border-radius: 50%; 
                -webkit-border-radius: 50%; 
                border-radius: 50%;">
                <hr class="mb-0 mt-0 d-none d-lg-block  mx-auto "
                    style="width: 2px; background-color: #7c4dff; height: 100%"/>
            </div>

            <div class="col-lg-5">
                <div class="card">
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%; padding-top: 5%; padding-left: 5%; padding-right: 5%;">
                            <h3 style="color: #7c4dff;">Havadan Sudan</h3>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 100px; background-color:#031d34 ; height: 2px"/>
                            <p style="padding-left: 5%; padding-right: 5%;">
                                Havadan Sudan adlı söyleşilerimizde seminerler ile okulda 
                                ve ülkemizde, çağımızın gözde sektörü olan otonom sistemler 
                                ve ihalar ile ilgili farkındalık oluşturmayı planlıyoruz. 
                                2017 yılında çağırdığımız Cengiz Karaağaç’ın bize yaptığı 
                                seminer bunun en büyük örneklerindendir.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- eğitimler -->
        <div class="row mt-4">
            
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%; padding-top: 5%; padding-left: 5%; padding-right: 5%;">
                            <h3 style="color: #7c4dff;">Eğitimler</h3>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 100px; background-color:#031d34 ; height: 2px"/>
                            <p style="padding-left: 5%; padding-right: 5%;">
                                Topluluğumuza yeni katılan üyelerle tecrübelerimizi paylaşmak 
                                için: Python, C, C# Altium Designer, STM32, solidworks,
                                temel elektronik, uçuş simulasyonu, arduino, basit aerodinamik 
                                derslerini her yıl vermekteyiz.  
                            </p>
                            <ul>
                                <li>
                                    Eğitimlerimize düzenli katılım sağlayan üyelerimize sertifika vermekteyiz.
                                </li>
                                <li>
                                    Zoom üzerinden gerçekleştirdiğimiz eğitimlerimizin kayıtlarına 
                                    Youtube kanalımızdan ulaşabilirsiniz.
                                </li>
                                
                            </ul>   
                            <p class="text-center">
                                <a class="btn" role="button"
                                    href="https://www.youtube.com/channel/UCCtihYxsybwWdEu4TdwLtOg">
                                    <i class="fa fa-youtube-play" aria-hidden="true" style="color: red;"> Youtube</i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2">
                <hr class="mb-0 mt-3 d-none d-lg-block mx-auto"
                style="width: 25px;
                height: 25px;
                background: #7c4dff; 
                -moz-border-radius: 50%; 
                -webkit-border-radius: 50%; 
                border-radius: 50%;">
                <hr class="mb-0 mt-0 d-none d-lg-block  mx-auto"
                    style="width: 2px; background-color: #7c4dff; height: 100%"/>
            </div>

            <div class="col-lg-5">
                <div class="card mt-3 mx-auto" style="width:80%">
                    <img src="/static/image/events/edu/edu-4.jpg" alt="" >
                </div>
                <div class="card mt-3 float-left" style="width:60%">
                    <img src="/static/image/events/edu/edu-1.jpg" alt="" >
                </div>
                <div class="card mt-3 float-right" style="width:30%">
                    <img src="/static/image/events/edu/edu-3.png" alt="" >
                </div>
            </div>
        </div>


        <!-- bilgi yarışması-->
        <div class="row mt-4 mb-4">
            <div class="col-lg-5"></div>

            <div class="col-lg-2 ">
                <hr class="mb-0 mt-3 d-none d-lg-block mx-auto"
                style="width: 25px;
                height: 25px;
                background: #7c4dff; 
                -moz-border-radius: 50%; 
                -webkit-border-radius: 50%; 
                border-radius: 50%;">
                <hr class="mb-4 mt-0 d-none d-lg-block  mx-auto "
                    style="width: 2px; background-color: #7c4dff; height: 100%"/>
            </div>

            <div class="col-lg-5">
                <div class="card">
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%; padding-top: 5%; padding-left: 5%; padding-right: 5%;">
                            <h3 style="color: #7c4dff;">Ödüllü Bilgi Yarışmaları</h3>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 100px; background-color:#031d34 ; height: 2px"/>
                            <p style="padding-left: 5%; padding-right: 5%;">
                                Her bir yarışma teknoloji ve mühendislik üzerine hazırlanan 
                                sorulardan oluşur. Sorular Zoom üzerinden görüntülenip Kahoot 
                                üzerinden yanıtlanır. Yarışma sonucu ilk üçe giren kişiler 
                                farklı ödüller kazanır.
                            </p>
                            <ul>
                                <li>
                                    20 Aralık 2020 tarihinde Zoom üzerinden Kahoot’ta ödüllü 
                                    bilgi yarışmalarımızın ilkini gerçekleştirdik. Yarışmada 
                                    birinci olan üyemiz TaleWorlds’ten Bannerlord oyunu, 
                                    ikinci olan üyemiz Sosyopix’ten 75 TL’lik hediye çeki, 
                                    üçüncü olan üyemiz Solotürk’ten anahtarlık kazandı.
                                </li>
                                <li>
                                    7 Mart 2021 tarihinde de ikinci yarışmamız Zoom üzerinden 
                                    gerçekleşti. Birinciye TaleWorlds'den Bannerlord oyunu, 
                                    ikinciye Anatolian Puzzle'dan Yıldız Gözlemcisi ve üçüncüye 
                                    Sosyopix'ten 75 TL'lik hediye çeki verilmiştir.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- ar-ge -->
        <div class="row mt-4 mb-4">
            
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%; padding-top: 5%; padding-left: 5%; padding-right: 5%;">
                            <h3 style="color: #7c4dff;">Proje ve AR&GE</h3>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 100px; background-color:#031d34 ; height: 2px"/>
                            <p style="padding-left: 5%; padding-right: 5%;">
                                Oluşturduğumuz her proje takımının hedefi farklıdır. 
                                Bazı takımlarımız yarışmalara katılırken, bazıları 
                                ARGE projelerinde yer almaktadır.  
                            </p>
                            <p>
                                Her sene Teknofest kapsamı altında düzenlenen yarışmalara 
                                katılmaktayız. Katıldığımız yarışmalar:
                            </p>
                            <ul>
                                <li>Tübitak Döner Kanat</li>
                                <li>Tübitak Sabit Kanat</li>
                                <li>Türksat Model Uydu Yarışması</li>
                                <li>Su Altı Aracı yarışması</li>
                                <li>SİHA Yarışması</li>
                                <li>Roket Yarışması</li>
                                <li>VTOL Yarışması</li>
                            </ul>   
                            <p>Şimdiye kadar üzerinde çalıştığımız ARGE projeleri:</p>
                            <ul>
                                <li>Otopilot</li>
                                <li>ESC</li>
                                <li>Gimbal</li>
                                <li>RF modülü</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2">
                <hr class="mb-0 mt-3 d-none d-lg-block mx-auto"
                style="width: 25px;
                height: 25px;
                background: #7c4dff; 
                -moz-border-radius: 50%; 
                -webkit-border-radius: 50%; 
                border-radius: 50%;">
                <hr class="mb-0 mt-0 d-none d-lg-block  mx-auto"
                    style="width: 2px; background-color: #7c4dff; height: 100%"/>
            </div>

            <div class="col-lg-5"></div>
        </div>


        <!-- teknik gezi-->
        <div class="row mt-4 mb-4">
            <div class="col-lg-5"></div>

            <div class="col-lg-2 ">
                <hr class="mb-0 mt-3 d-none d-lg-block mx-auto"
                style="width: 25px;
                height: 25px;
                background: #7c4dff; 
                -moz-border-radius: 50%; 
                -webkit-border-radius: 50%; 
                border-radius: 50%;">
                <hr class="mb-4 mt-0 d-none d-lg-block  mx-auto "
                    style="width: 2px; background-color: #7c4dff; height: 50%"/>
            </div>

            <div class="col-lg-5">
                <div class="card">
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%; padding-top: 5%; padding-left: 5%; padding-right: 5%;">
                            <h3 style="color: #7c4dff;">Teknik Gezilerimiz</h3>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 100px; background-color:#031d34 ; height: 2px"/>
                            <p style="padding-left: 5%; padding-right: 5%;">
                                Her yıl önemli kurumların ürün üretme ve geliştirme 
                                süreçlerini yakından incelemek için geziler düzenliyoruz.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>


{% endblock %}