{% extends 'layout.html' %}


{% block content %}
<div class="jumbotron" 
style="background-image: url(/static/image/background/6-IT.jpg);">

    <div class="container" style="padding-top: 100px;">

        <!-- ana destekçilerimiz -->
        <div class="row" style="padding-bottom:5%;">
            <p class=" display-4 mx-auto">Ana Destekçimiz</p>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="image ">
                        <img src="/static/image/logo/hacettepeTeknokentLogo.png" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3 class="text-center">Hacettepe Teknokent</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- altın destekçilerimiz -->
        <div class="row" style="padding-top:5%; padding-bottom:5%;">
            <p class=" display-4 mx-auto">Altın Destekçilerimiz</p>
        </div>
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card">
                    <div class="image ">
                        <img src="/static/image/logo/rzklogo.png" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3 class="text-center">ArcelorMittal RZK Çelik</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card">
                    <div class="image ">
                        <img src="/static/image/logo/jotformlogo.png" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3 class="text-center"> Jotform </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card">
                    <div class="image">
                        <img src="/static/image/logo/loopgame.png" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3 class="text-center"> Loop Games </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- gümüş destekçilerimiz -->
        <div class="row" style="padding-top:5%; padding-bottom:5%;">
            <p class=" display-4 mx-auto">Gümüş Destekçilerimiz</p>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="image ">
                        <img src="/static/image/logo/systemair.jpg" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3 class="text-center">Systemair</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="image ">
                        <img src="/static/image/logo/roketsan.png" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3 class="text-center">Roketsan</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}